{% extends 'base.html' %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center" style="height: 100vh">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">Login</h1>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username" />
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" />
            <label for="floatingPassword">Password</label>
          </div>
          <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
